h1, h2, h3, h4, h5, h6, p, dt, dd, th, td, li, a {
    line-height: 1;
    font-weight: normal;
}
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, table, tr, thead, tbody, th, td, ul, li, a {
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.5;
}
ul {
  list-style: none;
}
a, a:hover, a:focus, a:visited {
    display: inline-block;
    text-decoration: none;
}
a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
span, label {
    display: inline-block;
}

img {
    display: inline-block; 
    max-width: 100%;
}


/* LIST */
.nav>li {
    float: left;
}
.nav>li>a {
    display: block;
}
.list-inline>li {
    display: inline-block;
    vertical-align: top;
}
.list-flex {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

/* PAGE ADMIN CSS  */
/*FONTS*/



/*CONTENTS CSS */
.container {
    display: flex;
    display: -webkit-flex;
    padding-left: 200px;
    transition: 0.5s;
}
.container.is-click {
    padding-left: 0;
}
.avatar {
    margin: 50px 1em;
    position: relative;
    display: table;
}
.avatar img {
    display: table-cell;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #fff;
    overflow: hidden;
}
.avatarName {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    color: #fff;
    line-height: 1.5;
}


/* SIDE CSS */
.sideArea {
    width: 200px;
    min-width: 200px;
    background-color: royalblue;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.container.is-click .sideArea {
    left: -200px;
}
.sideArea li>a {
    display: block;
    color: #fff;
    padding: 1em;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.sideArea li>a:hover {
    background: rgba(255,255,255,0.1);
}
.sideArea li>a>.fa {
    width: 1em;
    text-align: center;
    margin-right: 10px;
}
.submenu {
    display: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.submenu li>a {
    padding-left: 2em;
    border-bottom: none;
}
.sideMenu {
    border-top: 1px solid rgba(255,255,255,0.2);
    font-size: small;
}

.bot-container
{
    margin-top: 150px;
    margin-left: 350px;
    font-size: 15.3px;
    width: 70%;
}
.card
{
    margin-right: 50px !important;
}

